body{
	font-family: 'Noto Sans TC', sans-serif !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.logo{
	margin-top: 0.25rem;
	width: 3.75rem;	
}

$(".dropdown-button").dropdown();

.chip-two{
	background-color: #a67a44;
} 

.chip-one{
	background-color: #dfdfdf;
} 

.card-stacked{
	background-color: #3696df;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#header{
	margin-top: 3.125rem;
}

#chat_room{
	background-image: url(../image/dog.webp);
	margin-top: 3.125rem;
	border-width:1px;
	border-style:solid;
	border-radius:10px;
	border-color:#343A40;
}

#introduction{
	margin-top: 6.25rem;
}

#welfare{
	margin-top: 6.25rem;
}

#chat_room{
	margin-top: 6.25rem;
}

#menber{
	margin-top: 6.25rem;
}

#title{
	border-width:3px;
	border-style:solid;
	border-radius: 1.25rem;
}

footer.page-footer {
  margin: 0;
}