body{
	font-family: 'Noto Sans TC', sans-serif !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.logo{
	margin-top: 0.25rem;
	width: 3.75rem;	
}

$(".dropdown-button").dropdown();

.chip-two{
	background-color: #a67a44;
} 

.chip-one{
	background-color: #dfdfdf;
} 

.card-stacked{
	background-color: #3696df;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


.chat_box_left{
	font-size: 1.5625rem;
	border-radius: 1rem;
	background-color: #33b1fe;
}

.chat_box_right{
	font-size: 1.5625rem;
	border-radius: 1rem;
	background-color: #ffc033;
}


#ch1_chat{
	display : inline;
}

#ch2_chat{
	display : inline;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .chat_box_left{
  	font-size: 1.3rem;
  }
  .chat_box_right{
  	font-size: 1.3rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .chat_box_left{
  	font-size: 1rem;
  }
  .chat_box_right{
  	font-size: 1rem;
  }
  
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#header{
	margin-top: 3.125rem;
}

article{
	font-size: 1.20rem;
}

#title_2{
;
}

.block_line {
    width: 160px;
    height: 2px;
    background: #f96300;
    margin: 0 auto;
    margin-bottom: 15px;
}

#about_us{
	margin-top: 3.125rem;
	margin-bottom: 3.125rem;
}

#chat_room{
	background-image: url(../image/dog.webp);
	margin-top: 3.125rem;
	max-width: 43.75rem;
}


#introduction{
	margin-top: 6.25rem;
}

#welfare{
	margin-top: 6.25rem;
}


#menber{
	margin-top: 6.25rem;
}

footer.page-footer {
  margin: 0;
}