body
{
	background-image:url('images/back3.jpg');
	font-weight:900;
	font-family:Microsoft JhengHei;
}

h2
{
	font-weight:bold;
}

.logo{
	width:60px;
	height:60px;
}

.navbar-expand-md{
	background:#ffac47
}

.navbar-toggler{
	width:50px;
	height:50px;
	padding: 0px;
}

#nav1{
	color: #000;
}

.navbar-link{
	color: #000;
}

.navbar-brand {
    color: #000;
}

#list-icon{
	width:50px;
	height:50px;
}

.nav-item:hover {
	font-weight: bold;
	border-width:1px;
	border-style:solid;
	border-color:#343A40;
	background-color: #59a2ec;
}

.smallcard:hover {
	background-color: #FFFFFF;
	border-radius: 10px;
	animation: myfirst 1s;
}

#title
{
	border-width:3px;
	border-style:solid;
	border-radius:10px;
	border-color:#343A40;
	width:300px;
	height:60px;
}


#Introduction
{
	border-width:3px;
	border-style:solid;
	border-radius:10px;
	border-color:#343A40;
	padding:15px 20px;
	width:auto; 
	height:auto;
	background-color: #E3E3E3;
}


#MemberIntroduction
{
	padding:15px 20px;
	width:auto; 
	height:auto;
	
}

.footer
{
	background-color:#FFA500;
	clear:both;
	text-align:center;
	height:50px;
	font-size:20px;
}

.name{
	font-size:20px;
}

#photo{
	margin-top:33px;
}

#SchoolJournal{
	margin-top:33px;
}
/*

*/

.headshot
{
	width:auto;
	height:auto;	
	margin:auto;
}

.headshotdiv:hover
{
	margin:auto;
	padding: 0px;
}


#GroupsTitle
{
	margin-bottom:50px;
	margin-top:33px;
}

.Area
{
	background: #fff;
	box-shadow: none;
	padding: 22px 26px;
	margin-top:33px;
}

#Top
{
	margin-top:100px;
}

#medal
{
	margin-top:120px;
	background-image: url('images/活動/medal.jpg');
	background-size: 1412*942;
	width: 1412px;
	height: 942px;
}

#Groups
{
	border-width:3px;
	border-style: solid;
	background-color: #FFAC47;
}

#Advantage
{
	border-width: 3px;
	border-style: solid;
	background-color: #63a6ea;
}

#MemberIntroduction
{
	border-width: 3px;
	border-style: solid;
	background-color: #e3e3e3;;
}

#other
{
	margin:0px auto;
	border-width:3px;
	border-style:solid;
	border-radius:10px;
	border-color:#343A40;
	width:350px; 
	height:95px;
}

#question{
	margin-top:33px;
}


@keyframes myfirst
{
    0%   {bottom:0px;}
    25%  {bottom:10px;}
    50%  {bottom:20px;}
	75%  {bottom:25px;}
    100% {bottom:30px;}
}