body
{
	background-color:#ffb580;
}

#bor
{
	border:4px  #343A40 solid;
	border-radius:10px;
	width:450px;
	height:110px;
}

.footer
{
	background-color:#FFA500;
	clear:both;
	text-align:center;
	height:30px;
}

#footer
{
	font-size:20px;
}

#nav1
{
	float:right 
}